*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(image/bodybackground.jpg);
    margin:0px;
}

footer{
    text-align: center;
    padding: 2%;
    background-color: rgb(213, 215, 215);;
}

nav{
    background-color: rgb(230, 233, 233);
    font-family: Arial;
    text-align: center;
}

nav a {
    padding: 2% 5%;
    display: inline-block;
    font-size: 30px;
    color: #7ca3f6;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;

}

nav a:hover {
    background-color: rgb(213, 215, 215);
    color:rgb(58, 52, 132);
    border-radius: 50px;
    text-decoration: underline;

}

.img01{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    float: left;    
}


.img02{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.img03{
    width:250px;
    height: 250px;
    margin-top: -17%;
    border-radius: 20px 20px;
    animation-name: img03;
    animation-duration:5s ;
    animation-iteration-count: infinite;
    border-radius: 50%;    
}

@keyframes img03{
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }
}

.card_title{
    background-image: url(image/title\ background.jpg);
    background-size: cover;
    padding: 4%;
    word-spacing: 10px;

}

.card01{
    background-color: #D1D1F4;
    margin-left: 5%;
    border-radius: 40px 60px;
    width: 90%;
    padding-bottom: 2%;
    margin-top: 2%;
}

.card02{
    background-color:#c4ebe2;
    margin-left: 5%;
    border-radius: 40px 60px;
    width: 90%;
    padding-bottom: 2%;
    margin-top: 2%;
}

.title_txt{
    text-align: center;
    font-size: 50px;
    padding: 0%;
    font-family: 'Fira Sans', sans-serif;
}

.title01{
    font-family: 'Noto Serif TC', serif;
    font-size: 50px;
    margin-left: 3%;
    margin-top: 2%;
    float: left;

}

.title02{
    font-family: 'Fira Sans', sans-serif;
    margin-left: 80%;
    margin-top: 2%;
    font-size: 20px;

}

.title03{
    font-family: 標楷體;
    font-size: 40px;
    margin-left: 4%;
}

.border01{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 15%;
}

.txt01{
    font-family: 標楷體;
    font-size: 35px;
    line-height: 200%;
    width: 50%;
    border: 3px solid white;
    border-radius: 30px 30px;
    background-image: url(image/background.jpg);
    background-size: cover;
    margin-right: 20%;
}

.txt01 li{
    list-style: none;
}


.txt02{
    font-family: 標楷體;
    font-size: 35px;
    margin-left: 93px;
    margin-top: 20px;
}

.txt03{
    font-family: 標楷體;
    font-size: 35px;
    margin: 30px 160px;
    line-height: 200%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.txt04{
    font-family:'Noto Serif TC', serif;
    margin-top: 2%;
    margin-left: 0%;
    margin-right: 5%;
    font-size: 25px;
}

.txt041{
    font-family: 'Noto Serif TC', serif;
    margin-top: 2%;
    margin-right: 3%;
    margin-left: -2%;
    font-size: 25px;
}

.txt042{
    font-family: 'Noto Serif TC', serif;
    margin-top: 2%;
    margin-right: 0%;
    font-size: 25px;
}

.skill3{
    display: flex;
    justify-content: space-around;
    margin-left: 3%;
}




.exp_allimg01{
    width:200px;
    padding: 5% 3% ;
}

.exp_allimg01{
    width:500px; 
    height:350px;
    overflow:hidden;
}

.exp_allimg01 img{
    transform:scale(1,1);
    transition: all 1s ease-out;
}

.exp_allimg01 img:hover{
    transform:scale(1.2,1.2);
}





.exp02{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-left:0%;
    margin-top: 5%;
}


.activity, .work{
    border: 3px solid white;
    border-radius: 30px 30px;
    width: 80%;
    margin: 2% 10%;
    background-image: url(image/background.jpg);
    background-size: cover;
}

.inform_align{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-left:3%;
    margin-top: 8%;
}

.inform{
    padding-right: 5%;
}
.line{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.gmail{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.ins{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.skills_width li {
    list-style: none;
    position: relative;
    font-size: 18px;
    border-radius: 30px;
    font-family: 標楷體;
    margin: 10%;
}

.skills_width{
    width: 50%;
    font-weight: bold;
    margin-left: 5%;
    line-height: 300%;

}
.skills_width li::before,
.skills_width li::after {
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: -35px;
    padding: 10px;
    border-radius: 30px;
}

.skills_width li::before {
    box-shadow: 0 0 6px #D9D4CF;
}


.skills_width li::after {
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.java::after {
    animation-name: java;
}

.html::after {
    animation-name: html;
}

.css::after {
    animation-name: css;
}

@keyframes java {
    from {
        width: 0%;
        background-color: #90e0ef;
    }

    to {
        width: 55%;
        background-color: #5D9389;
    }
}

@keyframes html {
    from {
        width: 0%;
        background-color: #90e0ef;
    }

    to {
        width: 70%;
        background-color: #5D9389;
    }
}

@keyframes css {
    from {
        width: 0%;
        background-color: #90e0ef;
    }

    to {
        width: 65%;
        background-color: #5D9389;
    }

}

.circle-wrap {
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 80px;
    margin-top: 100px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    background-color: rgb(226, 226, 226);
    border-radius: 50%;

}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3 {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;

}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background:rgb(185, 185, 185);
    line-height: 120px;
    text-align: center;
    margin-top: 13px;
    margin-left: 13px;
    color: black;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

.skill2{
    display: flex;
    justify-content: space-around;
}

.mask .fill-1 ,
.mask .fill-2 ,
.mask .fill-3{
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #5D9389;;
}

.mask.full-1,
.circle .fill-1 {
    animation: fill-1 ease-in-out 3s;
    animation-iteration-count: infinite;
    transform: rotate(162deg);
}

@keyframes fill-1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(162deg);

    }
}


.mask.full-2,
.circle .fill-2 {
    animation: fill-2 ease-in-out 3s;
    animation-iteration-count: infinite;
    transform: rotate(18deg);
}

@keyframes fill-2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(18deg);

    }
}


.mask.full-3,
.circle .fill-3 {
    animation: fill-3 ease-in-out 3s;
    animation-iteration-count: infinite;
    transform: rotate(45deg);
}

@keyframes fill-3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);

        
    }
}



































main::after{
    content: "";
    clear:both;
    display: table;
}

@media screen and(max-width:800px){
    article,aside{
        width: 100%;
        float: none;
    }
    .card01{
        padding: 15px;
        margin: 15px 0px;
    }
    .img02{
        padding:15px;
        margin: 15px 0px; 
    }
}